<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RCCServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="RCCServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="basicHttpBinding" bindingConfiguration="RCCServiceSoap"
                contract="RCCServiceSoap" name="RCCServiceSoap_RCCServiceSoap" />
            <endpoint binding="customBinding" bindingConfiguration="RCCServiceSoap12"
                contract="RCCServiceSoap" name="RCCServiceSoap12_RCCServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>